<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></h2>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<%= link_to 'Add a restaurant', new_restaurant_path %>