<section class='restaurants'>
  <h4>Restaurants</h4>
  <% if @restaurants.any? %>
    <%= render 'layouts/restaurants' %>
  <% else %>
    <h1>No restaurants yet</h1>
  <% end %>
</section>

<%= link_to 'Add a restaurant', new_restaurant_path, class: 'btn btn-primary' %>