/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

$navbar-height: 76px;
$navbar-default-bg: #BA0C02;
$navbar-default-link-color: #F8F3F3;
$navbar-default-link-active-bg: transparent;

$body-bg: #F5F5F1;
$text-color: #333333;
$headings-color: #C41200;
$link-color: #3B65A7;

$font-size-h4: 16px;
$headings-font-weight: 600;

$btn-primary-bg: #E00808;
$btn-font-weight: bold;
$btn-info-bg: #900000;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";
