.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .container-fluid {
  max-width: 960px;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

.navbar-right li {
  a {
    font-weight: bold;
  } 
  .btn {
    padding: 10px 15px;
    margin-top: 17px;
    font-size: 1.1em;
  }
}

main {
  background-color: white;
  max-width: 975px;
  padding-bottom: 15px;
  margin-bottom: 10em;
}

.col-sm-6 {
  .restaurant-title {
    font-weight: bold;
  }
  section a {
    font-size: 0.8em;
  }
}

.stars {
  font-size: 1.5em;
  color: #F37539;
}

.links {
  margin-top: 1em;
}

.endorsements-wrapper {
  margin-top: 0.5em;
  .btn {
    margin-right: 0.5%;
  }
}